<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker | al-script x freeCodeCamp.org</title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <div>
      <!-- Top navbar -->
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="https://github.com/al-script/"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="display-5">AS al-script</div></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-qa-metric-imperial-convert-0f939c767ae1.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Metric-Imperial Converter</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="https://fcc-qa-issue-tracker-a898b28d8b90.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Issue Tracker</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-qa-personal-library-110e57e0527a.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Personal Library</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-qa-sudoku-solver-457923b4d2b8.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >Sudoku Solver</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://fcc-qa-american-british-trlr-47023733fdca.herokuapp.com/"
                  target="_top"
                  rel="noopener noreferrer"
                  >American British Translator</a
                >
              </li>
            </ul>
            <span class="navbar-text">
              <a
                class="navbar-text"
                href="https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://design-style-guide.freecodecamp.org/downloads/fcc_secondary_large.svg"
                  alt=""
                  width="218.75"
                  height="25"
                  class="d-inline align-text-top"
                />
              </a>
              <a
                class="nav-link"
                href="https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects"
                target="_blank"
                rel="noopener noreferrer"
                >Quality Assurance Projects</a
              >
            </span>
          </div>
        </div>
      </nav>

      <!-- Responsive container -->
      <div class="d-flex min-vh-100">
        <div class="container d-flex align-items-center justify-content-center">
          <div class="col-12 p-3">
            <div class="row p-3">
              <div class="display-1 page-title">Issue Tracker</div>

              <div class="row p-3">
                <div class="card shadow p-1 gy-3">
                  <div class="card-body">
                    <section style="margin: 0 50px">
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Example <code>GET</code> usage
                      </div>
                      <code>/api/issues/{project}</code><br />
                      <code
                        >/api/issues/{project}?open=true&amp;assigned_to=Joe</code
                      ><br />
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Example return
                      </div>
                      <pre>
                        <code>[
                          { 
                            "_id": "5871dda29faedc3491ff93bb",
                            "issue_title": "Fix error in posting data",
                            "issue_text": "When we post data it has an error.",
                            "created_on": "2017-01-08T06:35:14.240Z",
                            "updated_on": "2017-01-08T06:35:14.240Z",
                            "created_by": "Joe",
                            "assigned_to": "Joe",
                            "open": true,
                            "status_text": "In QA"
                          },
                          ...
                        ]
                        </code>
                      </pre>

                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Examples
                      </div>
                      Go to
                      <a href="/api/issues/apitest/"
                        ><code>/api/issues/apitest/</code></a
                      >
                      project
                    </section>
                  </div>
                </div>
              </div>

              <div class="container" id="testui">
                <div class="row p-3">
                  <div class="card shadow p-1 gy-3">
                    <div class="card-body">
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        API Tests
                      </div>
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Submit issue on <i>apitest</i>
                      </div>

                      <form
                        id="testForm"
                        class="align-items-center justify-content-center"
                      >
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="issue_title"
                          placeholder="*Title"
                          required=""
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <textarea
                          class="form-control mb-3"
                          type="text"
                          name="issue_text"
                          placeholder="*Text"
                          required=""
                        ></textarea>
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="created_by"
                          placeholder="*Created by"
                          required=""
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="assigned_to"
                          placeholder="(opt)Assigned to"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="status_text"
                          placeholder="(opt)Status text"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <button class="btn btn-primary mb-3" type="submit">
                          Submit Issue
                        </button>
                        <!--                       </div> -->
                      </form>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="card shadow p-1 gy-3">
                    <div class="card-body">
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Update issue on <i>apitest</i> (Change any or all to
                        update issue on the _id supplied)
                      </div>

                      <form
                        id="testForm2"
                        class="align-items-center justify-content-center mb-3"
                      >
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="_id"
                          placeholder="*_id"
                          required=""
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="issue_title"
                          placeholder="(opt)Title"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <textarea
                          class="form-control mb-3"
                          type="text"
                          name="issue_text"
                          placeholder="(opt)Text"
                        ></textarea>
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="created_by"
                          placeholder="(opt)Created by"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="assigned_to"
                          placeholder="(opt)Assigned to"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="status_text"
                          placeholder="(opt)Status text"
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <label
                          ><input
                            class="form-check-input mb-3"
                            type="checkbox"
                            name="open"
                            value="false"
                          />
                          Check to close issue</label
                        >
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <button class="btn btn-primary mb-3" type="submit">
                          Update Issue
                        </button>
                        <!--                       </div> -->
                      </form>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="card shadow p-1 gy-3">
                    <div class="card-body">
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        Delete issue on <i>apitest</i>
                      </div>
                      <form
                        id="testForm3"
                        class="align-items-center justify-content-center"
                      >
                        <!--                       <div class="col-12"> -->
                        <input
                          class="form-control mb-3"
                          type="text"
                          name="_id"
                          placeholder="_id"
                          required=""
                        />
                        <!--                       </div> -->
                        <!--                       <div class="col-12"> -->
                        <button class="btn btn-primary mb-3" type="submit">
                          Delete Issue
                        </button>
                        <!--                       </div> -->
                      </form>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="card shadow p-1 gy-3">
                    <div class="card-body">
                      <div class="display-4 fs-3 fw-semibold pb-2">
                        API Tests Status:
                      </div>
                      <code id="jsonResult"></code>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Your web-app is https, so your scripts need to be too -->
      <script
        src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"
      ></script>
      <script>
        $(function () {
          $("#testForm").submit(function (e) {
            $.ajax({
              url: "/api/issues/apitest",
              type: "post",
              data: $("#testForm").serialize(),
              success: function (data) {
                $("#jsonResult").text(JSON.stringify(data));
              },
            });
            e.preventDefault();
          });
          $("#testForm2").submit(function (e) {
            $.ajax({
              url: "/api/issues/apitest",
              type: "put",
              data: $("#testForm2").serialize(),
              success: function (data) {
                $("#jsonResult").text(JSON.stringify(data));
              },
            });
            e.preventDefault();
          });
          $("#testForm3").submit(function (e) {
            $.ajax({
              url: "/api/issues/apitest",
              type: "delete",
              data: $("#testForm3").serialize(),
              success: function (data) {
                $("#jsonResult").text(JSON.stringify(data));
              },
            });
            e.preventDefault();
          });
        });
      </script>

      <!-- Footer -->
      <nav class="navbar bg-light shadow-sm">
        <div class="container-fluid">
          <a
            class="navbar-brand display-6"
            href="https://github.com/al-script/"
            target="_blank"
            rel="noopener noreferrer"
            >al-script x freeCodeCamp</a
          >
          <span class="navbar-text">
            <a class="navbar-brand display-6 d-inline align-text-center"
              >Built with</a
            >
            <a
              class="navbar-brand"
              href="https://nodejs.org/en/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
                alt="Node.js"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
            <a
              class="navbar-brand"
              href="https://expressjs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.pngfind.com/pngs/m/136-1363736_express-js-icon-png-transparent-png.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <!--             <a
              class="navbar-brand"
              href="https://mochajs.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mocha_logo.svg/1200px-Mocha_logo.svg.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a> -->
            <a
              class="navbar-brand"
              href="https://www.chaijs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.chaijs.com/img/chai-logo-small.png"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>

            <a
              class="navbar-brand"
              href="https://getbootstrap.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg"
                alt="Bootstrap"
                width=""
                height="24"
                class="d-inline align-text-top"
              />
            </a>
          </span>
        </div>
      </nav>
    </div>
  </body>
</html>
